# Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=log_analyzer
DB_PASSWORD=logai
DB_PORT=5432

# For production environments that provide DATABASE_URL
# DATABASE_URL=postgres://username:password@host:port/database

# JWT Secret
JWT_SECRET=your_jwt_secret_key

# Node Environment
NODE_ENV=development 